{% block alpha %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem commodi cupiditate dignissimos distinctio dolorem eius excepturi, exercitationem explicabo facilis hic ipsam omnis quae, quas quisquam ratione soluta tempore voluptas!
    </p>
{% endblock %}

{% block beta %}

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti dolorem esse et expedita, non nostrum obcaecati quaerat quibusdam tenetur! A adipisci culpa dolor harum magnam optio possimus rem sint.
    </p>

{% endblock %}

{% block zeta %}
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi architecto cumque dicta dignissimos ea earum enim eos et fugit impedit laboriosam placeat provident ratione reprehenderit similique, ullam vero voluptatem?
</p>

{% endblock %}